:root {

    --primary-color: #003707; /*dark green*/
    --secondary-color: #FFFFE8; /*paper white*/
    --accent1-color: #000000; /*black*/
    --accent2-color: #162F69; /*dark blue*/
    --heading-font: "Times New Roman", "Georgia", serif;
    --body-font: Arial, Helvetica, sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    line-height: 1.6;
}

.contact-header{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    background-color: var(--accent2-color);
    padding: 1rem;
}

header .logo img {
  max-width: 100px;
  height: auto;
}

.contact-header nav {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
}

.contact-header nav a {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
}

header, main, footer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
    margin: 1rem 0;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

footer {
    background-color: var(--accent2-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
    color: var(--secondary-color);
}

.socialmedia a{
    text-decoration: none;
    justify-content: center;
    gap: 1rem;
    flex-direction: row;
    margin-top: 0.5rem;
}

.socialmedia img {
    width: 32px;
    height: 32px;
}

.hero {
    position:relative;
    text-align: center;
}

.hero h1, h2 {
    position: relative;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 1;
    background-color: var(--accent2-color);
    color: #FFFFE8;
}

.employees-gallery {
    padding: 2rem;
     display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 1rem;
}

.employees-gallery h2 {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    padding: 1rem;
    border-radius: 4px;
}

.employees-gallery img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: start;
  padding: 2rem;
}

.map img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  border: 1px solid #ccc;
}

form {
  background-color: #f9f9f9;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0rem;
}

label {
  font-weight: bold;
  margin-top: 0.5rem;
}
